:root{
    --bleu-turquoise: #0e7af5;
    --bleu-sombre: #130686;
    --noir-tech: #111319;
    --gris-clair: #f3f7f9;
    --text-principal: #222;
    --text-secondaire: #555;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gris-clair);
    color: var(--text-principal);
    line-height: 1.6;
}

header{
    background-color: var(--noir-tech);
    color: white;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header img{
    height: 70px;
    width: 70px;
    border-radius: 20px;
}

nav a{
    color: white;
    margin-left: 24px;
    font-weight: 600;
    font-size: 1.05rem;
    text-decoration: none;
    transition: color 0.3e;
}

nav a:hover{
    color: var(--bleu-turquoise);
}

main{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 24px 48px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.1);
}

h1, h2{
    color: var(--bleu-turquoise);
    font-weight: 700;
    margin-bottom: 24px;
    border-bottom: 2px solid var(--bleu-sombre);
    padding-bottom: 8px;
}

h3{
    margin-bottom: 12px;
    color: var(--bleu-sombre);
}

p{
    color: var(--text-secondaire);
    margin-bottom: 20px;
    font-size: 1.05rem;
    line-height: 1.5;
}

.btn-whatsapp{
    background-color: #25d366;
    color: white;
    font-weight: 700;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 1.1rem;
    box-shadow: 0 6px 16px rgba(37, 211, 102, 0.7);
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
    user-select: none;
    border-radius: 20px;
}

.btn-whatsapp:hover{
    background-color: #1ebe57;
}

ul{
    list-style-type: disc;
    margin-left: 24px;
}

section{
    margin-bottom: 48px;
}

.social-links{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 24px 0;
}

.social-links a img{
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease;
}

.social-links a:hover img, .social-links a:focus img{
    transform: scale(1.2);
}
a{
    border: none;
    border-radius: none;
    color: aliceblue;
}


footer{
    background-color: var(--noir-tech);
    color: var(--bleu-turquoise);
    text-align: center;
}

@media(max-width: 800px){
    main {
        margin: 20px 12px 40px 12px;
    }
    nav a{
        margin-left: 12px;
        font-size: 1rem;
    }
}